---
import Layout from "@/layouts/Layout.astro";
import { defaultLang, loadTranslations } from "@/i18n/ui";

const lang = defaultLang;
const translations = await loadTranslations(lang);

Astro.response.status = 404;
const homePath = "/";
---

<Layout title={translations.notFound.title} lang={lang}>
  <main class="not-found-container">
    <div class="not-found-content">
      <div class="error-code">{translations.notFound.title}</div>
      <h1 class="subtitle">{translations.notFound.subTitle}</h1>
      <p class="message">{translations.notFound.paragraph}</p>
      <div class="action">
        <a href={homePath} class="btn-404">{translations.notFound.btn}</a>
      </div>
    </div>
    <div class="illustration">
      <img 
        src="/img/escaparate.svg" 
        alt={translations.notFound.subTitle} 
        width="500" 
        height="500"
        loading="eager"
      />
    </div>
  </main>
</Layout>
