---
import { getLocalizedAnchor } from "../i18n/ui";
import BtnLayout from "./BtnLayout.astro";
import { gsap } from 'gsap';

const { lang } = Astro.params;
const { translations } = Astro.props;
---

<section class="hero" id={getLocalizedAnchor('home', lang)}>
  <div class="hero-content">
    <h1 class="hero-title">
      <img class="logo-hero" src={translations.hero.logo} alt={translations.hero.alt} loading="lazy">
    </h1>
    <p class="hero-text">{translations.hero.content}</p>
    <BtnLayout href="https://www.instagram.com/melojoyeria/" text={translations.hero.btn_cta} color="var(--linen)" class="hero-button" />
  </div>
  <div class="hero-image-container">
    <picture class="hero-image">
      <img class="img-hero" src={translations.hero.img} alt={translations.hero.alt_img} loading="lazy">
    </picture>
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  
  document.addEventListener('DOMContentLoaded', () => {
    const title = document.querySelector('.hero-title');
    const text = document.querySelector('.hero-text');
    
    if (title) {
      gsap.from(title, {
        y: 100,
        opacity: 0,
        duration: 1.2,
        ease: "power3.out"
      });
    }
    
    if (text) {
      gsap.from(text, {
        y: -50,
        opacity: 0,
        duration: 1,
        ease: "power2.out",
        delay: 0.4
      });
    }
  });
</script>

<style>
  .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background-image: url(/img/hero-flower.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 650px;
  padding: 0 10px;
  background: rgba(137, 100, 76, 0.664);
}


h1{
  margin: 0;
}

.logo-hero{
  width: 230px;
  height: auto;
}


.hero-image-container {
  display: none; 
  width: 200px;
  height: auto;
}

p{
  font-size: clamp(1rem, 0.9825rem + 0.08880vw, 1.20rem);
  color: var(--black);
  text-align: center;
  font-weight: 600;
}


.img-hero {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

@media (min-width: 800px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    gap: 20px;
    height: 800px;
  }

  .hero-content{
    height: 800px;
  }

  .logo-hero{
    width: 300px;
    height: auto;
  }

  p{
    width: 80%;
  }

  .hero-image-container {
    display: block;
    width: 100%;
    height: 800px; 
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .img-hero {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }
}
</style>