---
import Layout from '../../layouts/Layout.astro';
import { loadTranslations } from '../../i18n/ui';
import Hero from '../../components/Hero.astro';
import Navbar from '../../components/Navbar.astro';
import CatalogueSection from '../../components/CatalogueSection.astro';
import About from '../../components/About.astro';
import ReferencesSection from '../../components/ReferencesSection.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import Materials from '../../components/Materials.astro';


const { lang } = Astro.params;
const currentLang = lang && ["en", "es"].includes(lang) ? lang : 'es';

const translations = loadTranslations(currentLang);

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },  
    { params: { lang: 'en' } },  
  ];
}
---

<Layout lang={currentLang} translations={translations}>
    <header>
        <Navbar translations={translations} />
    </header>
    <main>
        <Hero translations={translations} />
        <CatalogueSection translations={translations} />
        <About translations={translations} lang={lang} />
        <Materials translations={translations} />
        <ReferencesSection translations={translations} />
        <Contact translations={translations} />
    </main>
    <footer>
        <Footer translations={translations} />
    </footer>
</Layout>